body{
    margin: 0;
}

.parent{
    background-color: orange;
    width: 100%;
    height: 100vh;
    display: flex;
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap-reverse; */
    /* flex-flow: column wrap; */
    /* justify-content: space-evenly; */
    /* align-items: flex-start; */
    /* justify-content:center ; */
    /* align-items: center; */
    /* gap: 20px; */
}

.child1{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 2px solid #fff;
    /* order: 1 */
    flex: 1;
}
.child2{
    width: 100px;
    height: 100px;
    background-color: green;
    border: 2px solid #fff;
    /* order: 3; */
    flex: 3;
}
.child3{
    width: 100px;
    height: 100px;
    background-color: purple;
    border: 2px solid #fff;
    /* order: 2; */
    flex: 1;
}
.child4{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 2px solid #fff;
    flex: 1;
}