.box{
    background-color: blue;
    width: 100%;
    height: 400px;
}

/* .child {
    background-color: orange;
    width: 50%;
    height: 50%;
} */

/* .child {
    background-color: purple;
    color: #fff;
    min-width: 100px;
    max-width: 400px;
    min-height: 40px;
    max-height: 100px;
    overflow-y: scroll;
} */

.child {
    background-color: yellow;
    color: green;
    min-width: 100px;
    max-width: 400px;
    /* border-width: 5px;
    border-style: solid;
    border-color: black; */
    border: 5px solid #000;
    /* padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px; */
    /* padding: 30px; */
    padding: 20px 40px 30px 20px;
    /* margin: 0px 20px 30px 40px; */
    margin: auto;

}

ul > li {
    list-style: none;
    display: inline;
    margin-right: 10px;
}

.line{
    display: block;
}

.abc{
    /* display: none; */
    visibility: hidden;
}

.box1{
    width: 300px;
    height: 300px;
    /* background-color: red; */
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 50%;
    background-color: orange;
}

