/* body {
    background-color: green;
} */


/* * {
    background-color: blue;
} */


/* h1, p {
    color: purple;
}

h3 {
    color: red;
} */


.xyz {
    color: blue;
}

#para {
    background-color: aqua;
}