/* body{
    background-color: red;
} */


/* ul > li > a > span{
    color: green;
} */

/* ul span {
    color: yellow;
} */

/* h1+h4 {
    background-color: aqua;
} */

/* h1~p{
    background-color: turquoise;
} */

#img{
    background-color: #457b9d;
}

.dunya{
    background-color: green;
}

h1 {
    background-color: yellow;
}


p{
    background: orange;
    opacity: 0.4;
}